<nav class="navbar navbar-expand-lg navbar-dark navbar-custom sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-car-side me-2"></i>RentalKar
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <% if (user) { %>
          <% if (user.role === 'admin') { %>
            <li class="nav-item">
              <a class="nav-link" href="/admin"><i class="fa-solid fa-chart-line me-1"></i> Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/cars"><i class="fa-solid fa-car-rear me-1"></i> Kelola Mobil</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/cars"><i class="fa-solid fa-car me-1"></i> Cari Mobil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bookings"><i class="fa-solid fa-clock-rotate-left me-1"></i> Riwayat Sewa</a>
            </li>
          <% } %>
        <% } %>
      </ul>
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <% if (user) { %>
          <li class="nav-item nav-item-user text-light me-lg-3 mb-2 mb-lg-0">
            <span class="nav-link px-0 text-white font-outfit">
              <i class="fa-regular fa-user-circle me-1 text-info"></i> <%= user.nama_lengkap %>
              <span class="badge bg-secondary ms-1" style="font-size: 0.65rem;"><%= user.role.toUpperCase() %></span>
            </span>
          </li>
          <li class="nav-item">
            <a class="btn btn-danger-custom py-1.5 px-3 btn-sm" href="/auth/logout">
              <i class="fa-solid fa-right-from-bracket me-1"></i> Keluar
            </a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login"><i class="fa-solid fa-right-to-bracket me-1"></i> Masuk</a>
          </li>
          <li class="nav-item ms-lg-2">
            <a class="btn btn-primary-custom py-1.5 px-3 btn-sm" href="/auth/register">
              <i class="fa-solid fa-user-plus me-1"></i> Daftar Akun
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
